html { height: 100%; font-family: Verdana }

body {
  background-color: #f5f5f9;
  height: 100%;
  padding: 70px 150px;
}

.container {
  background-color: white;
  width: 100%;
  max-width: 900px;
  min-height: 100%;
  box-shadow: 0px 0px 18px rgba(0,0,0,.6);
  border-radius: 18px;
  padding: 20px 40px;
}

.flex-row {
  display: flex
}

.flex-col {
  display: flex;
  flex-direction: column
}

.center-a {
  justify-content: center
}

.flex {
  flex: 1
}

.word-col span {
  margin: 15px 30px
}

.word-col select {
  width: 80px;
  margin-right: 20px
}

.word-col img {
  object-fit: contain;
  width: 200px;
  height: 130px;
  margin-left: 30px
}

.center-b {
  align-items: center
}

.button {
  background-color: #03a9f4;
  padding: 10px;
  border-radius: 7px;
  color: #FFF;
  cursor: pointer;
}

.blank {
  height: 18px;
  min-width: 50px;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #03a9f4;
  padding: 3px 7px;
}

.words {
  margin: 10px;
  padding: 10px;
}

.word-drag {
  background-color: #03a9f4;
  padding: 4px;
  border-radius: 3px;
  color: #FFF;
  margin-right: 12px;
  cursor: grab;
}

.fill > div {
  margin-bottom: 16px
}

.height-130 {
  height: 130px;
}

.thumb-wrap {
  height: 160px
}

.del {
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  background: #03a9f4;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
  padding-bottom: 2px
}

td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center
}